<InjectMap>
	<BindMaps>
		<BindMap>
			<bind>ExampleChangedFromXML1</bind>
			<to>Changed1</to>
			<scope></scope>
			<note></note>
		</BindMap>
		<BindMap>
			<bind>ExampleChangedFromXML2</bind>
			<to>Changed2</to>
			<scope></scope>
			<note></note>
		</BindMap>
	</BindMaps>
	<PrimitiveMaps>
		<PrimitiveMap>
			<fieldPath>ExampleChangedFromXML1</fieldPath>
			<fieldValue>9001</fieldValue>
			<note></note>
		</PrimitiveMap>
		<PrimitiveMap>
			<fieldPath>ExampleChangedFromXML2</fieldPath>
			<fieldValue>9002</fieldValue>
			<note></note>
		</PrimitiveMap>
	</PrimitiveMaps>
	<PrimitiveArrayMaps>
		<PrimitiveArrayMap>
			<fieldPath>ExampleChangedFromXML1</fieldPath>
			<fieldValue>
				<value>Alpha1</value>
				<value>Beta1</value>
				<value>Charlie1</value>
			</fieldValue>
			<note></note>
		</PrimitiveArrayMap>
		<PrimitiveArrayMap>
			<fieldPath>ExampleChangedFromXML2</fieldPath>
			<fieldValue>
				<value>Alpha2</value>
				<value>Beta2</value>
				<value>Charlie2</value>
			</fieldValue>
			<note></note>
		</PrimitiveArrayMap>
	</PrimitiveArrayMaps>
</InjectMap>